<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        [ngModel]="post?.title"
        required name="title"
        type="text"
        #title="ngModel"
        placeholder="Title">
      <mat-error *ngIf="title.invalid">Please enter post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="10"
        [ngModel]="post?.content"
        required
        name="content"
        #content='ngModel'
        placeholder="Content"></textarea>
      <mat-error *ngIf="title.invalid">Please enter post content</mat-error>
    </mat-form-field>
    <button color = "primary" mat-raised-button type="submit">save</button>
  </form>
</mat-card>
